.git
.env
.env.*
!.env.example
vendor
node_modules
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/backups